node_modules
.pnpm-store
.DS_Store

# Build output
dist

# Vite
apps/web/.vite

# Prisma SQLite
packages/db/app.db
packages/db/app.db-journal
packages/db/app *.db
packages/db/dev.db
packages/db/dev.db-journal
packages/db/dev *.db

# Logs
*.log

# Local TS transpile artifacts in source tree
apps/web/src/App.js
apps/web/src/main.js
